<div class="row">
    <div class="col-lg-3">
        <div class="card card-chart" style="cursor: pointer;">
          <div class="card-header">
            <h5 class="card-category"></h5>
            <h4 class="card-title text-center"><i class="now-ui-icons users_single-02"></i> Usuarios</h4>            
          </div>
          <div class="card-body text-center">
           <h1>{{registros.cantidad_usuarios}}</h1>
          </div>
          
        </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-chart" style="cursor: pointer;">
        <div class="card-header">
            <h5 class="card-category"></h5>
            <h4 class="card-title text-center"> <i class="now-ui-icons users_circle-08"></i> Clientes</h4>          
          </div>
          <div class="card-body text-center">
           <h1>{{registros.cantidad_clientes}}</h1>
          </div>
          
        </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-chart" style="cursor: pointer;">
        <div class="card-header">
            <h5 class="card-category"></h5>
            <h4 class="card-title text-center"><i class="now-ui-icons shopping_box"></i> Productos</h4>
          </div>
          <div class="card-body text-center">
           <h1>{{registros.cantidad_productos}}</h1>
          </div>
          
        </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-chart"  style="cursor: pointer;">
        <div class="card-header">
            <h5 class="card-category"></h5>
            <h4 class="card-title text-center"><i class="now-ui-icons education_paper"></i> Ventas</h4>
          </div>
          <div class="card-body text-center">
           <h1>{{registros.cantidad_ventas}}</h1>
          </div>
          
        </div>
    </div>
</div>
